@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme inline {
  --custom-green: #dff34940;
  --custom-yellow: #e0f349;
  --custom-black: #1e1e1e;
  --custom-gold: #e0f349;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-custom-green {
  background-color: var(--custom-green);
}
.text-custom-green {
  color: var(--custom-green);
}

.bg-custom-gold {
  background-color: var(--custom-gold);
}
.text-custom-gold {
  color: var(--custom-gold);
}

.text-custom-yellow {
  color: var(--custom-yellow);
}

.bg-custom-yellow {
  background-color: var(--custom-yellow);
}

.text-custom-black {
  color: var(--custom-black);
}

.bg-custom-black {
  background-color: var(--custom-black);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@variants responsive {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.15s ease-out;
}

.editor-wrapper {
  position: relative;
}

.editor-placeholder {
  position: absolute;
  top: 42px;
  left: 12px;
  color: #9ca3af;
  pointer-events: none;
  font-size: 14px;
}


.jodit-wysiwyg ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.jodit-wysiwyg ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.rich-html ol {
  list-style-type: decimal;
  padding-left: 22px;
  margin: 8px 0;
}

.rich-html ul {
  list-style-type: disc;
  padding-left: 22px;
  margin: 8px 0;
}

.rich-html li {
  margin-bottom: 4px;
}





